body {
	background-color: #a27ef7;
}
}
h1 {
	color:white;
}
a{
	color:#473259;
}
.italian{
	color:#e52a12;
}
.non{
	color:#5db768;
}
#bgcolor{background-color: blue}
.font{font-family: Arial;
	font-size: 20px;
}
.title{
	width: 100%;
	height: 60px;

}

.sidebar{
	background-color: yellow;
}
.content{

}
.container{

}